<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            primary="true"
            file="doc/toc.xml"/>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard id="org.eclipse.uide.wizards.NewLanguageWizard"/>
      <category
            id="org.eclipse.uide.wizards"
            name="IDE Language Support"/>
      <wizard
            class="org.eclipse.uide.wizards.NewLanguage"
            icon="icons/sample.gif"
            category="org.eclipse.uide.wizards"
            name="Programming language descriptor"
            id="org.eclipse.uide.wizards.NewLanguageWizard"/>
            
	<category
	            id="org.eclipse.uide.wizards.build"
	            name="Build Services"
	            parentCategory="org.eclipse.uide.wizards"/>
      <wizard
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.build"
            class="org.eclipse.uide.wizards.NewBuilder"
            icon="icons/sample.gif"
            id="org.eclipse.uide.newBuilder"
            name="Incremental Builder"/>
      <wizard
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.build"
            class="org.eclipse.uide.wizards.NewCompiler"
            icon="icons/sample.gif"
            id="org.eclipse.uide.newCompiler"
            name="Poor Man's Compiler"/>
	  <wizard
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.build"
            class="org.eclipse.uide.wizards.NewNatureEnabler"
            icon="icons/sample.gif"
            id="org.eclipse.uide.natureEnablerWizard"
            name="Nature Enabler"/>
            
      <category
            id="org.eclipse.uide.wizards.core"
            name="Core Services"
            parentCategory="org.eclipse.uide.wizards"/>
      <wizard
            class="org.eclipse.uide.wizards.NewIndexer"
            icon="icons/sample.gif"
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.core"
            name="Indexer"
            id="org.eclipse.uide.wizards.NewIndexer"/>	
<!--            
      <wizard
            class="org.eclipse.uide.wizards.NewPreferencesDialog"
            icon="icons/sample.gif"
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.core"
            name="Preference Page"
            id="org.eclipse.uide.wizards.NewPreferencesDialog"/>
-->
  <wizard
            class="org.eclipse.uide.wizards.NewReferenceResolver"
            icon="icons/sample.gif"
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.core"
            name="Reference Resolver"
            id="org.eclipse.uide.wizards.NewReferenceResolver"/>
            
 	<category
            id="org.eclipse.uide.wizards.create"
            name="Creation Services"
            parentCategory="org.eclipse.uide.wizards"/>
	<wizard
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.create	"
            name="New Project Wizard"
            icon="icons/sample.gif"
            class="org.eclipse.uide.wizards.NewProject"
            id="org.eclipse.uide.wizards.NewProjectWizard"/>
 
      <category
            id="org.eclipse.uide.wizards.editor"
            name="Editor Services"
            parentCategory="org.eclipse.uide.wizards"/>
      <wizard
            class="org.eclipse.uide.wizards.NewOutliner"
            icon="icons/sample.gif"
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.editor"
            name="Outliner"
            id="org.eclipse.uide.wizards.NewOutliner"/>
      <wizard
            class="org.eclipse.uide.wizards.NewHoverHelper"
            icon="icons/sample.gif"
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.editor"
            name="Hover helper"
            id="org.eclipse.uide.wizards.NewHoverHelper"/>
      <wizard
            class="org.eclipse.uide.wizards.NewTokenColorer"
            icon="icons/sample.gif"
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.editor"
            name="Token colorer"
            id="org.eclipse.uide.wizards.NewTokenColorer"/>
      <wizard
            class="org.eclipse.uide.wizards.NewContentProposer"
            icon="icons/sample.gif"
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.editor"
            name="Content proposer"
            id="org.eclipse.uide.wizards.NewContentProposer"/>
      <wizard
            class="org.eclipse.uide.wizards.NewAnnotationHover"
            icon="icons/sample.gif"
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.editor"
            name="Annotation hover"
            id="org.eclipse.uide.wizards.NewAnnotationHover"/>
      <wizard
            class="org.eclipse.uide.wizards.NewFoldingUpdater"
            icon="icons/sample.gif"
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.editor"
            name="Source folding updater"
            id="org.eclipse.uide.wizards.NewFoldingUpdater"/>
      <wizard
            class="org.eclipse.uide.wizards.NewAutoEditStrategy"
            icon="icons/sample.gif"
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.editor"
            name="Auto-Edit Strategy"
            id="org.eclipse.uide.wizards.NewAutoEditStrategy"/>
      <wizard
            class="org.eclipse.uide.wizards.NewFormatter"
            icon="icons/sample.gif"
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.editor"
            name="Source Formatter"
            id="org.eclipse.uide.wizards.NewFormatter"/>
      <wizard
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.editor"
            class="org.eclipse.uide.wizards.NewFancyTokenColorer"
            icon="icons/sample.gif"
            id="org.eclipse.uide.fancyTokenColorerWizard"
            name="Fancy New Token Colorer"/>
            
      <category
            id="org.eclipse.uide.wizards.parser"
            name="Parser Services"
            parentCategory="org.eclipse.uide.wizards"/>
      <!-- Never implemented
      wizard
            class="org.eclipse.uide.wizards.NewParser"
            icon="icons/newgrammarfile.gif"
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.parser"
            name="Hand-written Parser"
            id="org.eclipse.uide.wizards.NewParser"/ -->
<!--  <wizard
            class="org.eclipse.uide.wizards.NewModelListener"
            icon="icons/sample.gif"
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.parser"
            name="Model Listener"
            id="org.eclipse.uide.wizards.NewModelListener"/>
 -->            
            
	<category
            id="org.eclipse.uide.wizards.transform"
            name="Transformation Services"
            parentCategory="org.eclipse.uide.wizards"/>
      <wizard
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.transform"
            class="org.eclipse.uide.wizards.NewRefactoringWizard"
            icon="icons/sample.gif"
            id="org.eclipse.uide.newRefactoring"
            name="Refactoring"/> 
   </extension>
   
   <extension
         point="org.eclipse.uide.runtime.languageDescription">
      <language
            description="SAFARI Presentation Specification"
            extensions="spec"
            language="spec"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.parser">
      <parser
            class="org.eclipse.uide.presentation.SpecParseController"
            language="spec"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.tokenColorer">
      <tokenColorer
            class="org.eclipse.uide.presentation.editor.SpecTokenColorer"
            language="spec"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.uide.perspective.SAFARIPerspectiveFactory"
            icon="icons/safariPerspective.gif"
            id="org.eclipse.uide.perspective"
            name="SAFARI IDE Building"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.outliner">
      <outliner
            class="spec.safari.outliner.SpecOutliner"
            language="spec">
      </outliner>
   </extension>
   <extension
         id="spec.safari.builder"
         name="spec builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="spec.safari.builders.SpecBuilder">
            <parameter
                  name="foo"
                  value="bar">
            </parameter>
         </run>
      </builder>
   </extension>
   <extension
         id="safari.nature"
         name="spec Nature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="spec.safari.builder">
      </builder>
      <runtime>
         <run
               class="spec.safari.builders.SpecNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="problem"
         name="spec Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            adaptable="false"
            nameFilter="*"
            id="spec.safari.projectContextMenu">
         <action
               label="Enable spec Builder"
               tooltip="Enable the spec builder for this project"
               class="spec.safari.actions.EnableNature"
               id="spec.safari.actions.enableNatureAction">
         </action>
      </objectContribution>
   </extension>
</plugin>
