package $PREFS_PACKAGE_NAME$;

/**
 * Constant definitions for plug-in preferences
 */
public class $CLASS_NAME_PREFIX$PreferenceConstants {
    public static final String P_EMIT_MESSAGES= "emitMessages";
}
