package $PREFS_PACKAGE_NAME$;

/**
 * Caches the values of various preferences from the preference store
 * for convenience and efficiency.<br>
 * May be removed at some point in lieu of direct access to the preference store.
 */
public class $CLASS_NAME_PREFIX$PreferenceCache {
    public static boolean builderEmitMessages;

    private $CLASS_NAME_PREFIX$PreferenceCache() {}
}
