package $PACKAGE_NAME$;

import java.util.*;

import org.eclipse.uide.core.ILanguageService;
import org.eclipse.uide.editor.IReferenceResolver;
import org.eclipse.uide.parser.IParseController;

import lpg.lpgjavaruntime.*;

import $PARSER_PKG$.Ast.*;

public class $CLASS_NAME_PREFIX$ReferenceResolver implements IReferenceResolver, ILanguageService {

	public $CLASS_NAME_PREFIX$ReferenceResolver () {
	}
	
	/**
	 * Get the target for the given source node in the AST.
	 */
	public Object getLinkTarget(Object node, IParseController parseController) {
		// START_HERE
		if (!(node instanceof IASTNodeToken))
		    return null;
		IASTNodeToken ident= (IASTNodeToken) node;
		statementList stmts= (statementList) parseController.getCurrentAst();
	}

	/**
	 * Get the text associated with a given node for use in a link
	 * from (or to) that node
	 */
	public String getLinkText(Object node) {
		return node.toString();
	}
}
